@media only screen and (max-device-width: 578px) {

  a:hover,
  a:active,
  a:focus,
  input:hover,
  input:active,
  input:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Alata', sans-serif;
    text-align: center;
    overflow: hidden;
    margin-top: 25%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  #main a {
    text-decoration: none;
  }

  #start {
    text-decoration: none;
    animation-name: fadein;
    animation-duration: 10s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fade_out {
    animation-name: fadeout;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #launch {
    position: absolute;
    bottom: 35%;
    margin-left: 40%;
    float: left;
  }

  .launch_animation {
    animation-name: launch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes launch {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(2);
      opacity: 0;
    }
  }
}