@media only screen and (max-device-width: 578px) {

  a:hover,
  a:active,
  a:focus,
  input:hover,
  input:active,
  input:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Alata', sans-serif;
    text-align: center;
    overflow: hidden;
    margin-top: 25%;
  }

  #main a {
    text-decoration: none;
  }

  #title {
    text-decoration: none;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 15s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #launch {
    position: absolute;
    bottom: 30px;
    margin-left: 35%;
    margin-right: 30%;
  }

  .launch_animation {
    animation-name: launch;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes launch {
    from {
      margin-bottom: 10px;
    }

    to {
      margin-bottom: 100%;
      opacity: 0;
    }
  }
}