@media only screen and (max-device-width: 578px){
  
  a:hover,
  a:active,
  a:focus,
  input:hover,
  input:active,
  input:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0;
  }

  body {
    animation: animateBg 10s linear infinite;
   background-image:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 100% 1100%;
   height: 100vh;
   width: 100vw;
 }
 @keyframes animateBg {
   0% { background-position: 0% 0%; }
   50%{background-position: 50%,100%;}
   100% { background-position: 0% 100%; }
 }

}