.navbar{
    background-color: #512da8;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: #ffffff;
}
#navbar-brand-top{
    font-weight: bold;
    color: white;
}
.card{
    margin: 10px;
    background-color: #512da8;
}
.card-title{
    font-weight: bold;
    color: white;
}
.card-text{
    color: white;
}
